---
// Styles
import "../styles/card.css";
import "../styles/networkCard.css"

// Assets
import { Image } from "astro:assets";

// Constants
import { SOCIAL_NETWORKS } from "../const/socialNetworks";
---

<div class="card">
    <h2>Contacto</h2>
    <div class="network-card-container">
        {
            SOCIAL_NETWORKS.map((network) => 
                <a href={network.link} class="network-card">
                    <section>
                        <Image class="network-card-img" src={network.logo} alt={network.logoAlt} width={network.logoSize} height={network.logoSize}/>
                        <p>{network.socialNetwork}</p>
                    </section>
                </a>
            )
        }
    </div>
    <p>Mineral del Monte, Hidalgo, México</p>
    <svg viewBox="0 0 1434 64" xmlns="http://www.w3.org/2000/svg">
        <path d="M671 14.5C173.8 46.5 16.8333 42.8333 0.5 37V63H1433.5V37C1386.5 16.1666 1168.2 -17.5 671 14.5Z" fill="white"/>
    </svg>       
</div>