---
// Styles
import "../styles/card.css";
import "../styles/networkCard.css"

// Assets
import { Image } from "astro:assets";

// Constants
import { SOCIAL_NETWORKS } from "../const/socialNetworks";
---

<style>
    .card {
        padding-top: 0px;
    }

    h2{
        margin-top: 40px;
    }
</style>

<div class="card">
    <svg viewBox="0 0 1443 98" xmlns="http://www.w3.org/2000/svg">
        <path d="M798 67.9421C266.352 72.2231 32.7338 20.0589 3.58369 11.5565C1.584 10.9733 0.5 9.24494 0.5 7.16194C0.5 3.76539 3.26537 1.01823 6.66185 1.04063L1432.07 10.4386C1437.56 10.4749 1442 14.9413 1442 20.4384V85.2078C1442 92.5465 1434.19 97.9927 1427.06 96.2631C1373.46 83.2657 1197.55 64.7249 798 67.9421Z" fill="white"/>
    </svg>
    <h2>Contacto</h2>
    <div class="network-card-container">
        {
            SOCIAL_NETWORKS.map((network) => 
                <a href={network.link} class="network-card">
                    <section>
                        <Image class="network-card-img" src={network.logo} alt={network.logoAlt} width={network.logoSize} height={network.logoSize}/>
                        <p>{network.socialNetwork}</p>
                    </section>
                </a>
            )
        }
    </div>
    <p>Mineral del Monte, Hidalgo, Mexico</p>
</div>